

<div class="ion-page" id="main-content">
  

      <ion-buttons slot="start">
        <ion-back-button class="back" defaultHref="/"></ion-back-button>
      </ion-buttons>
    
<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="title">
    <h1>ONLINE <br>UNIVERSITY SHOP</h1>
    <h5>ALANGILAN CAMPUS</h5>

    <ion-img src="assets/ahu.png" alt="Red Spartan logo"></ion-img>
  </div>

  <div class="form-container">

    <div class="flex-container">

      <div>
        <ion-list>

          <ion-item lines="none">
            <ion-label class="label">SR Code</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="label">Password</ion-label>
          </ion-item>

        </ion-list>
      </div>

      <div>
        <ion-list>

          <ion-item lines="none">
            <ion-input type="text" class="inputbox"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="password" class="inputbox"></ion-input>
          </ion-item>

        </ion-list>
      </div>

    </div>
    
    <ion-button size="small" routerLink="/welcome">SIGN IN</ion-button>

  </div>

</ion-content>
