<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="Home()">
          <ion-icon class="backbtn" name="arrow-back-outline"></ion-icon>  
       </ion-button>
      </ion-buttons>  
      <ion-title>Cart</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"> 
    <p>There's no item in your cart.</p>

  </ion-content>

  <ion-footer>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon routerLink="/welcome" name="home-outline" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label">Home</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="bag" class="footer-icon" routerLink="/allprod" ></ion-icon><br>
          <ion-label class="footer-label">Shop</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="person-outline" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label" routerLink="/profile">Me</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-footer>

</div>