
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button class="back" defaultHref="/"></ion-back-button>
      </ion-buttons>
      
      <ion-icon slot="end" name="cart-outline" routerLink="/cart"></ion-icon>
      

    </ion-toolbar>
  </ion-header>

<ion-content>
  <br>
  <h1 class="pv-name">College Barong</h1>
    <p class="pv-subtitle">Men's Top</p>
    
  <ion-card>
    <img src="assets/pr1.png">
  </ion-card>
  <p class="pv-price">&#8369; 350.00 - &#8369; 476.00</p>
  <p class="pv-label">Size:</p>
  <div class="pv-container" >
    <ion-button class="pv-border-button" >S</ion-button>
    <ion-button class="pv-border-button" >M</ion-button>
    <ion-button class="pv-border-button" >L</ion-button>
    <ion-button class="pv-border-button" >XL</ion-button>
    <ion-button class="pv-border-button" >2XL</ion-button>
    <ion-button class="pv-border-button" >3XL</ion-button>
    <ion-button class="pv-border-button" >Special Size</ion-button>
  </div>
  <br>
  <p class="pv-label">Quantity:</p>
  <div class="pv-container2">
      <ion-button class="pv-border-button" (click)="decreaseQuantity()">-</ion-button>
      <ion-input type="number" [(ngModel)]="quantity" class="pv-quantity-input"></ion-input>
      <ion-button class="pv-border-button" (click)="increaseQuantity()">+</ion-button>
    </div>
    <br>
    <ion-button class="pv-border-button add-to-cart" (click)="addToCart()">ADD TO CART<ion-icon name="cart-outline"></ion-icon></ion-button>
    <br>
  </ion-content>
  <ion-footer>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon routerLink="/welcome" name="home-outline" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label">Home</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="bag" class="footer-icon" routerLink="/allprod" ></ion-icon><br>
          <ion-label class="footer-label">Shop</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="person-outline" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label" routerLink="/profile">Me</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-footer>

</div>