<ion-menu contentId="main-content" class="sidemenu-container">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="pricetag"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding sidemenu-content" lines="none">
    
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-label style="color: #eee; font-weight: bold; font-size: larger;" class="sidemenulabel">Products</ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 10px;" class="sidemenulabel" routerLink="/allprod">All</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 10px;" class="sidemenulabel" routerLink="/uniform">Uniform</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 10px;" class="sidemenulabel" routerLink="/jackets">Jackets</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 10px;" class="sidemenulabel" routerLink="/shirts">Shirts</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 10px;" class="sidemenulabel" routerLink="/accessories">Accessories</ion-label>
      </ion-item>
   
    
      <ion-item lines="none">
        <ion-label style="color: #eee; font-weight: bold; font-size: larger;" class="sidemenulabel">Collections</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" class="sidemenulabel" routerLink="/rgoprod">RGO Products</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" class="sidemenulabel" routerLink="/classic">Classics</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" class="sidemenulabel" routerLink="/casual">Casual</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" class="sidemenulabel" routerLink="/addons">Add-ons</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; font-weight: bold; font-size: larger;" class="sidemenulabel">Others</ion-label>
      </ion-item> 
    
      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" routerLink="/faqs" class="sidemenulabel">FAQs</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" routerLink="/sizechart" class="sidemenulabel">Size Chart</ion-label>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label style="color: #eee; margin-left: 15px;" routerLink="/dresscode" class="sidemenulabel" >Dress Code Policy</ion-label>
      </ion-item>

    </ion-list>
  
  </ion-content>

  <div class="sidemenu-footer">

    <ion-icon routerLink="/contacts" name="call-outline" class="contacts"></ion-icon>
    
    <ion-icon name="log-out-outline" class="signout" (click)="confirmLogout()"></ion-icon>
    
  </div>

</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>

      <ion-searchbar color="light"></ion-searchbar>
      
    
      <ion-icon (click)="gotocart()" slot="end" name="cart-outline"></ion-icon>
      
      

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"> 
    <div class="logo-container">
      <div class="logo">
        <img src="assets/user.png" alt="user">
      </div>
      <div class="info">
        <h2 class="name">Emma Lautner</h2>
        <p class="code">20-1234</p>
      </div>
    </div>
    <p class="email"><ion-icon name="mail" class="email-icon"></ion-icon>20-1234@g.batstate-u.edu.ph</p>

    <div class="card-container">
      <ion-card>
        <ion-card-content>
          <ion-icon name="calendar-outline" class="icon"></ion-icon>
          <h3>SCHEDULE</h3>
          <h2>1</h2>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-content>
          <ion-icon name="timer-outline" class="icon"></ion-icon>
          <h3>HISTORY</h3>
          <h2>3</h2>
        </ion-card-content>
      </ion-card>
    </div>

    <div>
    <ion-list lines="none">
      <ion-item class="list">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label class="label">Edit Profile</ion-label>
      </ion-item>
  
      <ion-item class="list">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label class="label">Feedback</ion-label>
      </ion-item>

      <ion-item class="list">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label class="label">Info</ion-label>
      </ion-item>
  
      <ion-item class="list delete">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label class="label">Delete Account</ion-label>
      </ion-item>
    </ion-list>

  </div>

  </ion-content>

  <ion-footer>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon routerLink="/welcome" name="home-outline" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label">Home</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="bag-outline" class="footer-icon" routerLink="/allprod" ></ion-icon><br>
          <ion-label class="footer-label">Shop</ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="person" class="footer-icon"></ion-icon><br>
          <ion-label class="footer-label" routerLink="/profile">Me</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-footer>

</div>